<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_AccessRecord</h1>
        <table border="4px">
            <tr>
                <th>name</th>
                <th>date</th>
                <th>author</th>
                <th>email</th>
            </tr>
        {% for ARO in QLAR %}
        <tr>
            <td>{{ARO.name}}</td>
            <td>{{ARO.date}}</td>
            <td>{{ARO.author}}</td>
            <td>{{ARO.email}}</td>
        </tr>
    {% endfor %}
    </table>
    </center>
</body>
</html>