<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>insert_AccessRecord</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="na">Name</label>
            <select name="na" id="na">
                {% for iao in QLWO %}
                    <option value="{{iao.id}}">{{iao.id}}</option>
                {% endfor %}
            </select>
            <br>

            <label for="d">Date</label>
            <input type="date" name="d" id="d"><br>

            <label for="aut">Author</label>
            <input type="text" name="aut" id="aut"><br>

            <label for="email">Email</label>
            <input type="email" name="email" id="email"><br>

            <input type="SUBMIT">
        </form>
    </center>
</body>
</html>